<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form autocomplete="off" novalidate>
            <div class="form-group">
                <label for="tagInput">Search for tags</label>
                <div class="input-group">
                    <input type="text" id="tagInput" class="form-control" data-ng-model="$ctrl.searchTags">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" data-ng-click="$ctrl.search()">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="results">
    <div class="loader" data-ng-show="$ctrl.loading"></div>
    <div class="col-md-4 col-sm-6" data-ng-if="!$ctrl.loading" data-ng-repeat="photo in $ctrl.photos">
        <feed-card photo="photo"></feed-card>
    </div>
</div>
