feed-card {
    .panel-body {
        min-height: 250px;
        min-width: 250px;
        background-size: cover;
        position: relative;
    }

    .panel-body .info-background,
    .panel-body .what-by,
    .panel-body .tags-container { 
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
        opacity: 0;
        
        -moz-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .panel-body:hover .info-background {
        background-color: #333;
        opacity: 0.5;
    }

    .panel-body:hover .what-by,
    .panel-body:hover .tags-container { 
        opacity: 1;
    }

    .panel-body {
        .what-by {
            align-items: flex-start;
            height: 15px;
            left: 2px;
            bottom: 45px;

            .title, .author {
                display: inline-block;
                max-width: 118px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span {
                padding: 0 2px;
            }
        }
    
        .what-by, .what-by a {
            color: white;
            font-size: 12px;
            text-decoration: none;
        }

        .what-by a:hover {
            color: #3a87ad;
            text-decoration: underline;
            cursor: pointer;
        }
        .tags-container {
            height: 45px;
            ul {
                display: flex;
                flex-wrap: wrap;
                height: 38px;
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding-left: 2px;
            }
            li span { 
                border: 1px solid #3a87ad;
                border-radius: 4px;
                background-color: #3a87ad;
                color: white;
                font-size: 10px;
                line-height: 12px;
                margin-right: 2px;
                padding: 0 3px;
            }
        }
    }
}